<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch API Test</title>
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
</head>
<body>
    <form onsubmit="draw_graph(event)" method="post">
        <label for="graph_instruction">グラフ作成指示</label>
        <input type="text" id="graph_instruction">
        <input type="submit" value="グラフ作成実行"></button>
    </form>
    <div id="graph_div" style="width: 600px; height: 400px;"></div>
</body>

<script>

// 散布図の場合のみ想定
function replaceSeries(series, data){

    replaced_series = []
    for(let i = 0; i < series.length; i++){
        let series_data = series[i];
        let temp_series = {};
        for(let key in series_data){
            if(series_data.hasOwnProperty(key)){
                if(key === 'data'){
                    let columns_string = series_data[key]
                    let columns = columns_string.split(',');
                    columns = columns.map((column)=>{
                        return column.replace('data_', '');
                    });
                    console.log('columns', columns)
                    let temp_data = [];
                    console.log('data[columns[0]]', data[columns[0]])
                    for(let j = 0; j < data[columns[0]].length; j++){
                        let temp_row = []
                        for(let k = 0; k < columns.length; k++){
                            temp_row.push(data[columns[k]][j])
                        }
                        temp_data.push(temp_row);
                    }
                    temp_series[key] = temp_data;
                }else{
                    temp_series[key] = series_data[key];
                }
            }
        replaced_series.push(temp_series);
        }
    }
    
    return replaced_series;
}

// 散布図の場合のみ想定
function replaceDataOfOption(tempOption, data) {
    let resultOption = {};

    for (let key in tempOption) {
        if (tempOption.hasOwnProperty(key)) {
            if (key === "series") {
                resultOption[key] = replaceSeries(tempOption[key], data);
            } else {
                resultOption[key] = tempOption[key];
            }
        }
    }

    return resultOption;
}


function draw_graph(event){
    event.preventDefault();
    fetch('/getdata',
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'instruction': document.getElementById('graph_instruction').value
            })
        }
    ).then((response)=>
    {
        if(!response.ok){
            throw new Error(`HTTP Error! Status${response.status}`);
        }   
        graph_div = document.getElementById('graph_div');
        response.json().then((data)=>{
            console.log('data', data);
            // 今度はinstructionとdataのキー項目(列名)を付けて/getgraphoptionにリクエストを送り、
            // そのレスポンスのoptionを使ってグラフを描画する
            columns = Object.keys(data);

            fetch('/getgraphoption',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'instruction': document.getElementById('graph_instruction').value,
                        'columns': columns
                    })
                }
            ).then((response)=>{
                if(!response.ok){
                    throw new Error(`HTTP Error! Status${response.status}`);
                }
                response.json().then((option)=>{
                    console.log('before', option)
                    
                    // optionの走査し直して、特定のkeyの値は加工し、それ以外はそのまま使う。
                    // 連想配列がある場合は再帰的に処理する。
                    function dataprocess(data) {
                        // データ処理ロジックをここに実装
                        return data; // 例として、そのままデータを返す
                    }

                    option_final = replaceDataOfOption(option, data);
                    console.log('after', option_final)

                    let myChart = echarts.init(graph_div);
                    myChart.setOption(option_final);
                })
            })
        })
    })
}

</script>
</html>